* {
  box-sizing: border-box;
}
header{
  /* color: #fff; */
  background-image: url("../img/bgjpg.jpg");
  background-repeat: no-repeat;
  min-height: 793px;
}
body{
  font-family: 'Source Sans Pro', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 24px;
  max-width: 1920px;
  margin: 0 auto;
}
.container{
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}
.logo{
  display: flex;
  align-items: center;
}

.logo__name{
  color:#fff;
  display: flex;
  align-items: center;
}
a{
  text-decoration: none;
  color:#fff;
}
.menu ul li{
  display: inline-block;
}
.menu ul li + li{
  margin-left: 50px;
}
.menu ul li a{
  color: #fff;
  opacity: 0.5;
}
.menu ul li a:hover{
  color: #fff;
  opacity: 1;
  transition: all 0.5s;
}
.login{
  margin-right: 44px;
  display: inline-block;
}
.sign{
  display: inline-block;
}
.sign a{
  color: #250F8A;
  background: #fff;
  border-radius: 20px;
  padding: 8px 43.38px;
  font-weight: 600;
}
.logo__pic{
  display: inline-block;
  margin-right: 12px;

}
.logo__name{
  display: inline-block;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 25px;
  letter-spacing: -0.349794px;
}
.menu, .log-sign{
  display: flex;
  align-items: center;
}
.header-top{
  padding-top: 33px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 140px;
}
.descr__title{
  font-size: 45px;
  line-height: 60px;
  max-width: 505px;
  font-weight: bold;
  width:100%;
  margin-bottom: 10px;
  color: #FFFFFF;
}
.descr__for{
  font-size: 24px;
  line-height: 55px;
  color: #FFFFFF;
  margin-bottom: 60px;
}
.descr__button-link{
  padding: 13px 39px;
  background-color: #FFCA00;
  color: #250F8A;
  text-transform: uppercase;
  font-weight: 600;
  border-radius: 25px;
}
.header-main__inner{
  display: flex;
  align-items: flex-start;
}
.img-boys{
  margin-left: 67px;
}
.spec{
  margin-top: 55px;
  margin-bottom: 93px;
}
.spec-all{
  display: flex;
  justify-content: space-around;
  /* flex-wrap: wrap; */
}
.spec-title{
  font-weight: bold;
  font-size: 35px;
  line-height: 45px;
  text-align: center;
  margin-bottom: 96px;
  color: #202020;
}
.spec-items{
  max-width:280px;
  display: flex;
  flex-direction: column;
  align-items:center;
}
.spec-items__img{
  margin-bottom: 16px;
}
.spec-items__title{
  text-align: center;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  color: #202020;
  margin-bottom: 10px;
}
.spec-items__text{
  text-align: center;
  color: #272727;
  opacity: 0.7;
}
.left-line{
  position: absolute;
}
.text-title{
  font-style: normal;
  font-weight: bold;
  font-size: 35px;
  line-height: 45px;
  color: #202020;
  margin-bottom: 30.5px;
}
.text-descr{
  color: #272727;
  mix-blend-mode: normal;
  opacity: 0.7;
}
.work__item-text{
  max-width: 455px;
  width:100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  align-items: flex-end;

}
.work__item{
  display: flex;
  justify-content: space-between;
}
.work{
  position: relative;
}
.item2{
  order:1;
}
.title1{
  position: relative;
}
.right-line{
  right:0;
  top: 670px;
  position: absolute;
}
/* .work1{
  padding-left: 47px;
} */